# dependencies (Node.js)
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Python Virtual Environments (חשוב מאוד - מונע עליית אלפי קבצי שרת לגיט)
.venv/
venv/
ENV/
env/

# Python caching & bytecode
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# IDEs and editors (קבצי הגדרות אישיות של המחשב שלך)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# misc
.DS_Store
*.pem
notes.txt

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files - חסימה מוחלטת של קבצי סיסמאות ומפתחות!
.env
.env.local
.env.development
.env.production
.env.development.local
.env.local.errors

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts