@import "tailwindcss";

:root {
  /* רקע לבן נקי וטקסט כהה ומקצועי */
  --background: #ffffff;
  --foreground: #111827; /* אפור כהה מאוד (Slate-900) במקום שחור סינתטי */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Roboto Mono, monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}